/*---- Root ----*/

:root {
    --text-color: rgb(255, 68, 0);
}


/*----- Reset css -------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E7ECF0;
}


/*---- Header ----*/

.navbar {
    box-shadow: 0px 1px 5px 2px rgb(255, 140, 50) !important;
}


/*----- Body ----*/


/* Đăng nhập */

.pag-login {
    margin: 10px;
    padding: 0;
}

.pag-login h4 {
    color: var(--text-color);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.pag-login .form_login {
    border-radius: 5px;
    background-color: white;
    background-image: linear-gradient(rgb(250, 171, 106), rgb(240, 234, 234));
    box-shadow: 7px 7px 7px #888;
}


/*- Khai báo thông tin -*/


/* attention */

.attention p {
    text-align: center;
}

.attention .text1>a {
    text-decoration: underline;
}

.attention .text2 {
    color: red;
}


/* form */

form h4 {
    text-align: left !important;
    font-size: 20px !important;
}

form .title-form {
    color: var(--text-color);
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
}

form .KBYT {
    width: 100%;
    padding: 7px 0 !important;
}

.form_login h4 {
    width: 100% !important;
    text-align: center !important;
    background-color: coral;
    padding: 10px 0;
    color: white;
}

.form_login .attention {
    margin-top: 10px;
}

.form_login .attention .text2 {
    text-align: left;
    padding: 5px 0;
}

.form_login .form-group,
.attention {
    padding: 0 10px;
}